GetCustomerDetails_GetCustomerDetailsCNWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/GetCustomerDetails/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetCustomerDetails" targetNamespace="http://www.tibco.com/GetCustomerDetails/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/GetCustomerDetails/" targetNamespace="http://www.tibco.com/GetCustomerDetails/">
      <xsd:complexType name="CustomerRequest">
        <xsd:sequence>
          <xsd:element name="CustomerID" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomerResponse">
        <xsd:sequence>
          <xsd:element name="CustomerID" type="xsd:int"/>
          <xsd:element name="CustomerName" type="xsd:string"/>
          <xsd:element name="CustomerAddress" type="xsd:string"/>
          <xsd:element name="CustomerPhoneNo" type="xsd:string"/>
          <xsd:element name="CustomerMailID" type="xsd:string"/>
          <xsd:element name="CustomerSalary" type="xsd:string"/>
          <xsd:element name="CustomerLocation" type="xsd:string"/>
          <xsd:element name="CustomerStatus" type="xsd:string"/>
          <xsd:element name="CustomerProof" type="xsd:string"/>
          <xsd:element name="CustomerCreateDateTime" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCustomerDetailsOperationRequest">
    <wsdl:part name="GetCustomerDetailsOperationRequest" type="tns:CustomerRequest"/>
  </wsdl:message>
  <wsdl:message name="GetCustomerDetailsOperationResponse">
    <wsdl:part name="GetCustomerDetailsOperationResponse" type="tns:CustomerResponse"/>
  </wsdl:message>
  <wsdl:portType name="GetCustomerDetails">
    <wsdl:operation name="GetCustomerDetailsOperation">
      <wsdl:input message="tns:GetCustomerDetailsOperationRequest"/>
      <wsdl:output message="tns:GetCustomerDetailsOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding4" type="tns:GetCustomerDetails">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCustomerDetailsOperation">
      <soap:operation soapAction="GetCustomerDetailsOperation" style="rpc"/>
      <wsdl:input>
        <soap:body parts="GetCustomerDetailsOperationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="GetCustomerDetailsOperationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetCustomerDetails">
    <wsdl:port binding="tns:SOAPServiceBinding4" name="GetCustomerDetailsSOAP">
      <soap:address location="http://localhost:8005/SOAPServiceBinding4/getCustomerDetails/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
