MulOperation_MULOperationCNWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/MulOperation/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MulOperation" targetNamespace="http://www.tibco.com/MulOperation/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/MulOperation/" targetNamespace="http://www.tibco.com/MulOperation/">
      <xsd:complexType name="MulRequest">
        <xsd:sequence>
          <xsd:element name="NUM1" type="xsd:int"/>
          <xsd:element name="NUM2" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MulResponse">
        <xsd:sequence>
          <xsd:element name="Result" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MulOperationRequest">
    <wsdl:part name="MulOperationRequest" type="tns:MulRequest"/>
  </wsdl:message>
  <wsdl:message name="MulOperationResponse">
    <wsdl:part name="MulOperationResponse" type="tns:MulResponse"/>
  </wsdl:message>
  <wsdl:portType name="MulOperation">
    <wsdl:operation name="MulOperation">
      <wsdl:input message="tns:MulOperationRequest"/>
      <wsdl:output message="tns:MulOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding2" type="tns:MulOperation">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MulOperation">
      <soap:operation soapAction="MulOperation" style="rpc"/>
      <wsdl:input>
        <soap:body parts="MulOperationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="MulOperationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MulOperation">
    <wsdl:port binding="tns:SOAPServiceBinding2" name="MulOperationSOAP">
      <soap:address location="http://localhost:8005/SOAPServiceBinding2/mulOperation/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
