SubOperation_SUBOperationCNWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/SubOperation/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubOperation" targetNamespace="http://www.tibco.com/SubOperation/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/SubOperation/" targetNamespace="http://www.tibco.com/SubOperation/">
      <xsd:complexType name="SubRequest">
        <xsd:sequence>
          <xsd:element name="NUM1" type="xsd:int"/>
          <xsd:element name="NUM2" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SubResponse">
        <xsd:sequence>
          <xsd:element name="Result" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SubOperationRequest">
    <wsdl:part name="SubOperationRequest" type="tns:SubRequest"/>
  </wsdl:message>
  <wsdl:message name="SubOperationResponse">
    <wsdl:part name="SubOperationResponse" type="tns:SubResponse"/>
  </wsdl:message>
  <wsdl:portType name="SubOperation">
    <wsdl:operation name="SubOperation">
      <wsdl:input message="tns:SubOperationRequest"/>
      <wsdl:output message="tns:SubOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding1" type="tns:SubOperation">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SubOperation">
      <soap:operation soapAction="SubOperation" style="rpc"/>
      <wsdl:input>
        <soap:body parts="SubOperationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="SubOperationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubOperation">
    <wsdl:port binding="tns:SOAPServiceBinding1" name="SubOperationSOAP">
      <soap:address location="http://localhost:8005/SOAPServiceBinding1/subOperation/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
